<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-lg="3" size-xl="2">
        <ion-button color="primary" shape="round" fill="clear" (click)="showAlert()">
          <ion-icon slot="start" name="aperture-outline"></ion-icon>
          Alert</ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6" size-lg="3" size-xl="2">
        <ion-button color="success" fill="outline" (click)="showToast('top')">
          <ion-icon slot="end" name="aperture-outline"></ion-icon>
          Toast top</ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6" size-lg="3" size-xl="2">
        <ion-button color="danger" size="small" (click)="showToast('middle')">Toast middle</ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6" size-lg="3" size-xl="2">
        <ion-button shape="round" color="warn" size="large" (click)="showToast('bottom')">Toast bottom</ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6" size-lg="3" size-xl="2">
        <ion-button id="open-modal">Open Modal HTML</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <p>{{ message }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Cancel</ion-button>
                </ion-buttons>
                <ion-title>Welcome</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="stacked">Enter your name</ion-label>
                <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-button (click)="showModal()">Open Modal Page</ion-button>
        <ion-item>
          <ion-checkbox slot="end"></ion-checkbox>
          <ion-label>Themed checkbox</ion-label>
        </ion-item>
        <ion-item>
          <ion-toggle slot="start"></ion-toggle>
          <ion-label slot="end">Toggle</ion-label>
        </ion-item>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-list>
          <ion-radio-group [(ngModel)]="radio">
            <ion-list-header>
              <ion-label>Name</ion-label>
            </ion-list-header>
        
            <ion-item>
              <ion-label>Biff</ion-label>
              <ion-radio slot="start" value="biff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Griff</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Buford</ion-label>
              <ion-radio slot="start" value="buford"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="10" offset="1">
        <p>{{radio}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>  


  <div class="list">
    <ion-list>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pokémon Yellow</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Mega Man X</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>The Legend of Zelda</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Pac-Man</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Super Mario World</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
